<% include header %>

<body id="messagePage">

  <header id="header" class="header">
    <div class="container widthKeeper">
      <div class="userInfo owner left">
        <img class="icon" src="https://graph.facebook.com/<%= loginUser.id %>/picture" alt="">
        <p class="name"><%= loginUser.displayName %>さん</p>
      </div><!-- /owner -->
      <div class="userInfo finder right">
        <img class="icon" src="/resources/images/header_icon_finder.png" alt="">
        <p class="name"><% if (guestUser) { %><%= guestUser %>さん<% } else { %>未入室<% } %></p>
      </div><!-- /finder -->
    </div><!-- /container -->
  </header><!-- /header -->

  <div class="contents widthKeeper">
    <div class="container">
      <table id="messageArea">
      </table><!-- /messageArea -->
      <p class="lastPadding"></p>
    </div><!-- /container -->
  </div><!-- /contents -->

  <div class="footer" data-position="fixed">
    <div class="container widthKeeper">
      <input type="text" id="commentText" class="textArea">
      <a id="commentSendBtn" href="javascript:void(0);" class="sendBtn bottomBtn">
        <img class="sendBtnImg" src="/resources/images/btn_send.png" alt="">
      </a>
    </div><!-- /container -->
  </div><!-- /footer -->

  <% include scripts %>
  <script type="text/javascript">
    var id = "<%= id %>";
    var loginUserId = "<%= loginUser.id %>";
    var loginUserName = "<%= loginUser.displayName %>";
    var guestUser = "<%= guestUser %>";
    var isOwner = <%= isOwner %>;
  </script>
  <script type="text/javascript" src="/js/message.js"></script>
</body>
</html>
